 h1{
    text-align:center;
}
h3{
    text-align: center;
}
p{
    color:black;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 600;
}

table{
    width:100%;
}

table tr{
    padding:20px;
}

.portfolio{
    padding:30px;
}

.fa-brands{
    font-size: x-large;
    color:blue;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
